section {
    width: 600px;
    height: 600px;
    text-align: center;
    border: 15px solid black;
  }
  
  img {
    display:inline-block;
    width: 200px;
    height: 200px;
    padding: 20px;
    background-color: lightblue;
    margin: 10px;
    border: 10px solid black;
    border-style: dashed;
    /* TODO: Add a margin property */
    /* TODO: Add a padding property */
    /* TODO: Add a border property */
  }
  