.lesson {
    color: rgb(173, 142, 65);
    width: 150px;
    height: 80px;
}

#section-1{
    background-color: violet;
    color: rgb(230, 241, 15);
}
.section-blue {
    background-color: blue;
}
.container{
    background-color: black;
    color: whitesmoke;
}
#section-6{
    color: goldenrod;
}